- name: create pet-clinic user and download java in it
  hosts: part1
  tasks:
    - name: clone the script
      git:
        repo: https://github.com/Aly-Ghazal/JavaDownloaderScripit.git
        clone: yes
        dest: ./JavaDownloader

    - name: change permission for the script
      file:
        path: ~/JavaDownloader/java_downloader.sh
        mode: '0770'

    - name: run script
      shell: ~/JavaDownloader/java_downloader.sh

